<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="12">
  <meta name="author" content="12">
  <meta name="keyword" content="12">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>首页</title>
  <link rel="stylesheet" type="text/css" href="/static/asset/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href="/static/asset/css/plugins/font-awesome.min.css"/>
  <link rel="stylesheet" type="text/css" href="/static/asset/css/plugins/simple-line-icons.css"/>
  <link rel="stylesheet" type="text/css" href="/static/asset/css/plugins/animate.min.css"/>
  <link rel="stylesheet" type="text/css" href="/static/asset/css/plugins/fullcalendar.min.css"/>
  <link href="/static/asset/css/style.css" rel="stylesheet">
</head>

<body id="mimin" class="dashboard">
<!-- start: Header -->
<nav class="navbar navbar-default header navbar-fixed-top">
  <div class="col-md-12 nav-wrapper">
    <div class="navbar-header" style="width:100%;">
      <div class="opener-left-menu is-open"> 
        <span class="top"></span> 
        <span class="middle"></span> 
        <span class="bottom"></span> 
      </div>
      <a href="/user/index" class="navbar-brand"> <b>首页</b> </a>
      <ul class="nav navbar-nav navbar-right user-nav">
        <li class="user-name"><span>{{.user.Username}}</span></li>
        <li class="dropdown avatar-dropdown">
            <img src="/static/asset/img/avatar.jpg" class="img-circle avatar" alt="user name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"/>
          <ul class="dropdown-menu user-dropdown">
              <li><a href="#"><p value="{{.user.Username}}" id="backli1" onclick="update()"><span class="fa fa-power-off"></span> 账户管理</p></a></li>
              <li><a href="#"><p value="{{.user.Username}}" id="backli" onclick="back()"><span class="fa fa-power-off"></span> 退出登录</p></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- end: Header -->
<div class="container-fluid mimin-wrapper"> 
  <!-- start:Left Menu -->
  <div id="left-menu">
    <div class="sub-left-menu scroll">
      <ul class="nav nav-list">
        <li>
          <div class="left-bg"></div>
        </li>
        <li class="ripple">
          <a class="nav-header" href="/user/index"><span class="fa-home fa"></span> 首页
              <span class="fa-angle-right fa right-arrow text-right"></span>
          </a>
        </li>
        <li class="ripple">
          <a class="tree-toggle nav-header"><p id="leveljudge" value="20" onclick="leveljudge()"> <span class="fa-diamond fa"></span> 系统管理
              <span class="fa-angle-right fa right-arrow text-right"></span> </p>
          </a>
          <ul class="nav nav-list tree">
            <li id="leveljudge1">
              <a href="/user/userList/1/no">用户列表</a>
              <a href="/meeting/roomList/1/no">会议室列表</a>
            </li>
          </ul>
        </li>
        <li class="ripple">
          <a class="tree-toggle nav-header"><span class="fa fa-check-square-o"></span> 会议管理
            <span class="fa-angle-right fa right-arrow text-right"></span>
          </a>
          <ul class="nav nav-list tree">
              <li>
                <a href="/meeting/meetingList/1/no/no/no">会议列表</a>
                <a href="/meeting/meetingReport">会议报表</a>
              </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- end: Left Menu -->
  <!-- start: content -->
  <div id="content">
    <div class="panel">
      <div class="panel-body">
        <div class="col-md-6 col-sm-12">
          <h3 class="animated fadeInLeft">欢迎您：{{.user.Username}}</h3>
          <p class="animated fadeInDown"><span class="fa  fa-map-marker"></span> 首页</p>
        </div>
      </div>
    </div>
    <div class="col-md-12" style="padding:20px;">
      <div class="col-md-12 padding-0">
        <div class="col-md-8 padding-0">
          <div class="col-md-12 padding-0">
            <div class="col-md-6">
              <div class="panel box-v1">
                <div class="panel-heading bg-white border-none">
                  <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                    <h4 class="text-left">最新会议</h4>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                    <h4> <span class="icon-user icons icon text-right"></span> </h4>
                  </div>
                </div>
                <div class="panel-body text-center">
                  <ul class="normal-list">
                    {{range $i, $v := .latestMeetings}}
                      <li class="text-left"><span class="right">{{$v.MeetingRoomName}}</span><a href="#"><span class="fa fa-angle-right"></span>{{$v.Reason}}</a></li>
                    {{end}}
                  </ul>
                  <p><a href="#">更多信息</a></p>
                  <hr/>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="panel box-v1">
                <div class="panel-heading bg-white border-none">
                  <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                    <h4 class="text-left">热点会议室</h4>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                    <h4> <span class="icon-check icons icon text-right"></span> </h4>
                  </div>
                </div>
                <div class="panel-body text-center">
                  <ul class="normal-list">
                    {{range $i, $v := .hotMeetingRooms}}
                      <li class="text-left"><span class="right">{{$v.Count}}</span><a href="#"><span class="fa fa-angle-right"></span>{{$v.MeetingRoomName}}</a></li>
                    {{end}}
                  </ul>
                  <p><a href="#">更多信息</a></p>
                  <hr/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="col-md-12 padding-0">
            <div class="panel box-v2">
              <div class="panel-heading padding-0"> <img src="/static/asset/img/bg2.jpg" class="box-v2-cover img-responsive"/>
                <div class="box-v2-detail"> <img src="/static/asset/img/avatar.jpg" class="img-responsive"/>
                  <h4></h4>
                </div>
              </div>
              <div class="panel-body">
                <div class="col-md-12 padding-0 text-center">
                  <div class="col-md-4 col-sm-4 col-xs-6 padding-0">
                    <h3>{{.meetingCount}}</h3>
                    <p>已发布会议</p>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-6 padding-0">
                    <h3>{{.userCount}}</h3>
                    <p>用户</p>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-6 padding-0">
                    <h3>{{.meetingRoomCount}}</h3>
                    <p>会议室</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end: content -->
</div>
<!-- start: Javascript --> 
<script src="/static/asset/js/jquery.min.js"></script>
<script src="/static/asset/js/jquery.ui.min.js"></script>
<script src="/static/asset/js/bootstrap.min.js"></script>
<!-- plugins --> 
<script src="/static/asset/js/plugins/jquery.nicescroll.js"></script>
<!-- custom --> 
<script src="/static/asset/js/main.js"></script>
<script src="/static/asset/js/moment.js"></script>
<script src="/static/js/Confim.js"></script>
<!-- end: Javascript -->
</body>
</html>