<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="xxxxx">
    <meta name="author" content="xxxxx">
    <meta name="keyword" content="xxxxx">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>会议室列表</title>
    <!-- start: Css -->
    <link rel="stylesheet" type="text/css" href="../../static/asset/css/bootstrap.min.css">
    <!-- plugins -->
    <link rel="stylesheet" type="text/css" href="../../static/asset/css/plugins/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/asset/css/plugins/simple-line-icons.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/asset/css/plugins/animate.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/asset/css/plugins/fullcalendar.min.css"/>
    <link href="../../static/asset/css/style.css" rel="stylesheet">
    <!-- end: Css -->

    <style>
        *{margin: 0px; padding: 0px;}
        i{font-style: normal;}
        #movemodal{
            position: fixed;
            left: 0px;
            top: 0px;
            right: 0px;
            bottom: 0px;
            background: rgba(0,0,0,0.5);
            display: none;
        }
        .modal-dialog{
            position: relative;
            width: 500px;
            margin: 40px auto;
            background: white;
            border-radius: 5px;
        }
        .modal-header {
            padding: 15px;
            border-bottom: 1px solid #e5e5e5;
        }
        .modal-header>i{
            font-weight: bold;
            color: #ADADAD;
            float: right;
            cursor: pointer;
        }
        .modal-body {
            position: relative;
            padding: 15px;
        }
        .modal-body input{
            width: 300px;
            border-radius: 4px;
            border: 1px solid #DDDDDD;
            outline: none;
            padding: 10px;
            margin: 10px;
        }
        .modal-footer {
            padding: 15px;
            text-align: right;
            border-top: 1px solid #e5e5e5;
        }
        .addbtn_ok{
            width: 40px;
            height: 25px;
            border-radius: 4px;
            background: deepskyblue;
            color: white;
            border: none;
            outline: none;
            cursor: pointer;
        }
        .addbtn_no{
            width: 40px;
            height: 25px;
            border-radius: 4px;
            background: darkslateblue;
            color: white;
            border: none;
            outline: none;
            cursor: pointer;
        }
    </style>

</head>

<body id="mimin" class="dashboard">
<!-- start: Header -->
<nav class="navbar navbar-default header navbar-fixed-top">
    <div class="col-md-12 nav-wrapper">
        <div class="navbar-header" style="width:100%;">
            <div class="opener-left-menu is-open"><span class="top"></span> <span class="middle"></span> <span
                        class="bottom"></span></div>
            <a href="/user/index" class="navbar-brand"> <b>返回首页</b> </a>
            <ul class="nav navbar-nav navbar-right user-nav">
                <li class="user-name"><span>{{.user.Username}}</span></li>
                <li class="dropdown avatar-dropdown"><img src="../../static/asset/img/avatar.jpg" class="img-circle avatar"
                                                          alt="user name" data-toggle="dropdown" aria-haspopup="true"
                                                          aria-expanded="true"/>
                    <ul class="dropdown-menu user-dropdown">
                        <li><a href="#"><p value="{{.user.Username}}" id="backli1" onclick="update()"><span
                                            class="fa fa-power-off"></span> 账户管理</p></a></li>
                        <li><a href="#"><p value="{{.user.Username}}" id="backli" onclick="back()"><span
                                            class="fa fa-power-off"></span> 退出登录</p></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- end: Header -->
<div class="container-fluid mimin-wrapper">
    <!-- start:Left Menu -->
    <div id="left-menu">
        <div class="sub-left-menu scroll">
            <ul class="nav nav-list">
                <li>
                    <div class="left-bg"></div>
                </li>
                <li class="ripple">
                    <a class="nav-header" href="/user/index"><span class="fa-home fa"></span> 首页
                        <span class="fa-angle-right fa right-arrow text-right"></span>
                    </a>
                </li>
                <li class="ripple">
                    <a class="tree-toggle nav-header"><p id="leveljudge" value="20" onclick="leveljudge()"> <span class="fa-diamond fa"></span> 系统管理
                            <span class="fa-angle-right fa right-arrow text-right"></span> </p>
                    </a>
                    <ul class="nav nav-list tree">
                        <li id="leveljudge1">
                            <a href="/user/userList/1/no">用户列表</a>
                            <a href="/meeting/roomList/1/no">会议室列表</a>
                        </li>
                    </ul>
                </li>
                <li class="ripple">
                    <a class="tree-toggle nav-header"><span class="fa fa-check-square-o"></span> 会议管理
                        <span class="fa-angle-right fa right-arrow text-right"></span>
                    </a>
                    <ul class="nav nav-list tree">
                        <li>
                            <a href="/meeting/meetingList/1/no/no/no">会议列表</a>
                            <a href="/meeting/meetingReport">会议报表</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- end: Left Menu -->

    <!-- start: content -->
    <div id="content">
        <div class="panel">
            <div class="panel-body">
                <div class="col-md-12">
                    <h3 class="animated fadeInLeft">会议室列表</h3>
                    <p class="animated fadeInDown"> 业务 <span class="fa-angle-right fa"></span> 会议室列表 </p>
                </div>
            </div>
        </div>
        <div class="col-md-12 padding-0 form-element">
            <div class="col-md-12">
                <div class="panel form-element-padding">
                    <div class="panel">
                        <div class="panel-heading" style="height: 60px">
                            <div>
                                <div style="display: inline-block;margin-top: 5px;margin-left: 30px">
                                    <label style="margin-right: 10px">会议室</label><input type="text" value="{{.room}}" class="room" placeholder="输入会议室名称">
                                </div>
                                <button type="button" class="btn btn-success " onclick="query()" style="margin-top: 1px;margin-left: 500px">查询</button>
                                <button type="button" id="add"  class="btn btn-success" style="float: right;margin-top: 11px;margin-right: 60px">添加会议室</button>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="responsive-table">
                                <div id="datatables-example_wrapper"
                                     class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table table-striped table-bordered dataTable no-footer"
                                                   width="100%" cellspacing="0" style="width: 100%;text-align: center">
                                                <thead>
                                                <tr role="row">
                                                    <th class="sorting_asc" style="width: 33%;text-align: center">id</th>
                                                    <th class="sorting" style="width: 33%;text-align: center">名称</th>
                                                    <th class="sorting" style="width: 34%;text-align: center">编辑</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {{range $i,$v := .rooms}}
                                                    <tr role="row" class="odd">
                                                        <td class="sorting_1">{{$value4 := sub $.currentPage 1}}{{$value3 := mul $value4 $.pageNum}}{{$value5 := add $value3 $i}}{{add $value5 1}}
                                                        </td>
                                                        <td>{{$v.RoomName}}
                                                        </td>
                                                        <td>
                                                            <a href="javascript:void(0);" id="a1">
                                                                <h7 id="update_{{$v.RoomName}}" class="{{$v.RoomName}}">修改</h7>
                                                            </a>
                                                            <a href="javascript:void(0);" id="a2"
                                                               onclick="deleteRoom({{$v.RoomName}})">
                                                                <h7>删除</h7>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {{end}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--显示分页信息-->
                    <div class="row">
                        <!--文字信息-->
                        <div class="col-md-6">
                            &nbsp;&nbsp;&nbsp;当前第 {{.currentPage}} 页.总共 {{.totalPage}} 页.一共 {{.roomCount}} 条记录
                        </div>
                        <!--点击分页-->
                        <div class="col-md-6">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">

                                    <li><a href="/meeting/roomList/1/{{.room}}">首页</a></li>
                                    <!--上一页-->
                                    <li>
                                        {{$value1 := sub .currentPage 1}}
                                        {{if ge $value1 1}}
                                            <a href="/meeting/roomList/{{sub .currentPage 1}}/{{.room}}" aria-label="Previous">
                                                <span aria-hidden="true">上一页</span>
                                            </a>
                                        {{end}}
                                    </li>
                                    <!--循环遍历连续显示的页面，若是当前页就高亮显示，并且没有链接-->
                                    {{range $i,$v := .pageSlice}}
                                        {{if eq $.currentPage $v}}
                                            <li class="active"><a href="#">{{$v}}</a></li>
                                        {{end}}
                                        {{if ne $.currentPage $v}}
                                            <li><a href="/meeting/roomList/{{$v}}/{{$.room}}">{{$v}}</a></li>
                                        {{end}}
                                    {{end}}
                                    <!--下一页-->
                                    <li>
                                        {{$value2 := add .currentPage 1}}
                                        {{if le $value2 .totalPage}}
                                            <a href="/meeting/roomList/{{add .currentPage 1}}/{{.room}}"
                                               aria-label="Next">
                                                <span aria-hidden="true">下一页</span>
                                            </a>
                                        {{end}}
                                    </li>
                                    <li><a href="/meeting/roomList/{{.totalPage}}/{{.room}}">尾页</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end: content -->


    <!--修改和新建会议室的模态框-->
    <div class="modal movefade movemodal" id="movemodal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <i>X</i>
                    <h4>会议室管理</h4>
                </div>
                <div class="modal-body">
                    <p>
                        会议室名称：<input type="text" class="roomName" />
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="addbtn_ok">确定</button>
                    <button class="addbtn_no">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- start: Javascript -->
<script src="../../static/asset/js/jquery.min.js"></script>
<script src="../../static/asset/js/jquery.ui.min.js"></script>
<script src="../../static/asset/js/bootstrap.min.js"></script>
<!-- plugins -->
<script src="../../static/asset/js/plugins/jquery.nicescroll.js"></script>
<!-- custom -->
<script src="../../static/asset/js/main.js"></script>
<script src="../../static/asset/js/moment.js"></script>
<script src="../../static/js/Confim.js"></script>

<script type="text/javascript">
    function deleteRoom(roomName) {
        let sta = confirm("确定删除此会议室吗？");
        if (sta == true) {
            $.ajax({
                url: "/meeting/deleteMeetingRoom",
                type: 'POST',
                dataType: 'text',
                data: {roomName: roomName},
            })
                .done(function (data) {
                    data = JSON.parse(data)
                    if (data.data==1) {
                        window.location.href = "/meeting/roomList/{{.currentPage}}/{{.room}}";
                    } else {
                        alert("删除失败");
                    }
                })
                .fail(function () {
                    console.log("error");
                })
                .always(function () {
                    console.log("complete");
                });
        }
    }

    $(function (){
        //true代表添加
        let flag = true
        let roomName = ""
        //修改
        $("[id^='update_']").on('click', function() {  //h7标签循环，id属性如果都一样，只有第一个会触发事件，我们可以设置属性开头一样，然后以开头去匹配，以这个开头的都可以触发事件
            $(".movefade").fadeIn(600)
            roomName = $(this).attr("class")  //$(this)获取到触发事件的标签
            flag = false
        });
        //添加
        $('#add').on('click', function() {
            $(".movefade").fadeIn(600)
            flag = true
        });

        $(".addbtn_ok").on("click",function(){
            let newRoomName = $(".roomName").val()
            if(newRoomName==""){
                alert("会议室名称不能为空")
            }
            //添加
            if(flag==true){
                $.ajax({
                    url: "/meeting/addMeetingRoom",
                    type: 'POST',
                    dataType: 'text',
                    data: {
                        roomName: newRoomName
                    },
                })
                    .done(function (data) {
                        data = JSON.parse(data)
                        if (data.data==2) {
                            window.location.href = "/meeting/roomList/{{.currentPage}}/{{.room}}";
                            $(".movefade").fadeOut(600)
                        }else if(data.data==0){
                            alert("名称已存在")
                        } else {
                            alert("添加失败");
                        }
                    })
                    .fail(function () {
                        console.log("error");
                    })
                    .always(function () {
                        console.log("complete");
                    });
            }else {//修改
                $.ajax({
                    url: "/meeting/updateRoomName",
                    type: 'POST',
                    dataType: 'text',
                    data: {
                        roomName: roomName,
                        newRoomName: newRoomName
                    },
                })
                    .done(function (data) {
                        data = JSON.parse(data)
                        if (data.data==2) {
                            // alert("修改成功");
                            window.location.href = "/meeting/roomList/{{.currentPage}}/{{.room}}";
                            $(".movefade").fadeOut(600)
                        }else if(data.data==0){
                            alert("名称已存在")
                        } else {
                            alert("修改失败");
                        }
                    })
                    .fail(function () {
                        console.log("error");
                    })
                    .always(function () {
                        console.log("complete");
                    });
            }
        })

        $(".addbtn_no").on("click",function(){
            $(".movefade").fadeOut(600)
        });
        $(".modal-header i").on("click",function(){
            $(".movefade").fadeOut(600)
        });
    })
    function query(){
        let room = $(".room").val()
        if(room==""){
            room="no"
        }
        window.location.href = "/meeting/roomList/{{.currentPage}}/"+room
    }
</script>
<!-- end: Javascript -->
<script>
    $("#left-menu-2").click();
</script>

</body>
</html>